body {
  margin: 0;
}

main {
  position: relative;
  min-height: 100vh;
  background-color: #F4F5F9;
  padding: 120px 15px;
}
main .container {
  max-width: 1000px;
  margin: 0 auto;
}

.Loading {
  position: fixed;
  top: 20px;
  right: 20px;
}
